// font

// colors
$background: #f8f9fa;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$gold-medal: rgba(249, 173, 14, 0.6);
$silver-medal: rgba(209, 215, 218, 0.6);
$bronze-medal: rgba(223, 126, 8, 0.6);

// variables
$borderRadiusSM: 5px;
